<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="css/videojuegos.css">

        <title>Tienda De Videjuegos!</title>
    </head>
    <body>
        <!-- As a link -->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img src="Img/logoName.png" width="30" height="30" alt="">
                Mercado VJ
            </a>
            <form th:action="@{/buscar}" class="form-inline">
                <input autofocus="autofocus" name="q" class="form-control mr-sm-2" type="search" th:placeholder="${param.q}" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </nav>

        <div class="container mt-4 vj-destacados">
            <div class="row">
                <div th:each="juego: ${videojuegos}" class="col-md-3 mb-3">
                    <div class="card border-dark">
                        <img th:src="${juego.imagenURl}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 th:text="${juego.nombre}" class="card-title"></h5>
                            <p>
                                <a th:href="@{/videojuegosPorDistribuidor(distribuidorId = ${juego.distribuidor.id})}" th:text="${juego.distribuidor.nombre}" class="badge badge-pill badge-warning"></a>
                                <span th:text="${juego.desarrollador.nombre}" class="badge badge-pill  badge-dark "></span>
                            </p>
                            <p class="card-text">
                                <small th:text="${juego.categoria}" class="text-muted">
                                </small>
                            </p>
                            <p th:text="${juego.descripcion} ?: Unknown" class="card-text"></p>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class="btn btn-primary">Ver Detalles</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>